.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;

    &__logo {
        img {
            width: 100px;
            height: 100px;
        }
    }

    &__buttons {
        display: flex;
        align-items: center;
    }
}