.projects {

    &__main {

        &-title {

            span {
                font-weight: 700;
                font-size: 42px;
                line-height: 26px;
                color: #42446E;
            }
        }

        &-subtitle {
            margin-top: 30px;

            span {
                font-weight: 400;
                font-size: 20px;
                line-height: 26px;
                color: #666666;
            }
        }

        &-carts {
            margin-top: 50px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto;
            gap: 20px;
        }

        &-item {
            width: 373px;
            height: 507px;
            background: #FFFFFF;
            box-shadow: 2px 2px 100px rgba(0, 0, 0, 0.2);
            border-radius: 20px;

            &-title {
                display: flex;
                justify-content: center;
                margin-top: 7px;
    
                span {     
                    font-family: 'Poppins';   
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 26px;
                    color: #000000;
                }
            }
        }

        &-about {
            display: flex;
            justify-content: center;
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 15px;

            span {
                font-family: 'Poppins';
                font-weight: 300;
                font-size: 16px;
                line-height: 26px;
                color: #666666;
                word-wrap: break-word;
            }
        }

        &-stack {
            display: flex;
            justify-content: center;
            margin-left: 15px;
            margin-right: 15px;
            margin-top: 10px;

            span {
                color:#42446E;
            }
        }

        &-links {
            display: flex;
            justify-content: space-between;
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 20px;

            div {
                display: flex;
                justify-content: space-between;
                align-items: center;

                img {
                    margin-right: 10px;
                }

                span {
                    text-decoration: underline;
                }
            }
        }
    }
}