.stack {

    &__main {

        &-title {
            
            span {
                color: #42446E;
                font-weight: 700;
                font-size: 42px;
                line-height: 26px;      
            }
        }

        &-subtitle {
            margin-top: 30px;
            span {
                font-weight: 400;
                font-size: 20px;
                line-height: 26px;
                color: #666666;
            }
        }

        &-logos {
            margin-top: 50px;
            div {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
                grid-template-rows: 200px 200px;
                gap: 20px;
            }
        }
    }
}