.button-link {
    display: flex;
    align-items: center;
    font: "DM Sans";
    width: auto;
    height: 26px;
    border: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}